services:
  lewa-web:
    image: lewa
    build: .
    volumes:
      - static_data:/app/staticfiles
  lewa-nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_data:/app/staticfiles:ro
    ports:
      - 8000:80
  frontend:
    build:
      context: ./lewa-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

volumes:
  static_data:
