<!--
# SPDX-FileCopyrightText: 2025 Brady Fomegne and contributors
#
# SPDX-License-Identifier: MPL-2.0

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock %}
{% block hero %}
    <h2 class="title">{% trans "Forgot your password?" %}</h2>
    <form method="post"
          action="{% url 'account_reset_password' %}"
          class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="control">
            <button class="button is-primary" type="submit">{% trans "Reset Password" %}</button>
        </div>
    </form>
{% endblock %}
