<!--
# SPDX-FileCopyrightText: 2025 Brady Fomegne and contributors
#
# SPDX-License-Identifier: MPL-2.0

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}
    {% trans "Sign up" %}
{% endblock %}

{% block hero %}
    <h2 class="title">{% trans "Sign up" %}</h2>
    
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <div class="block">
            <p class="subtitle is-6">{% trans "Or sign up with" %}:</p>
            {% for provider in socialaccount_providers %}
                <form action="{% provider_login_url provider.id process='signup' %}" method="post" class="is-inline-block mb-2">
                    {% csrf_token %}
                    <button type="submit" class="button is-link socialaccount_provider {{ provider.id }}" title="{{ provider.name }}">
                        <span class="icon">
                            <i class="fab fa-google"></i>
                        </span>
                        <span>{% trans "Sign up with" %} {{ provider.name }}</span>
                    </button>
                </form>
            {% endfor %}
        </div>
        <hr>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control">
            <button class="button is-primary" type="submit">{% trans "Sign up" %}</button>
        </div>
    </form>
{% endblock hero %}
