name: CI docker
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the image
        run: |
          docker build -t lewa .
      - name: Test the image
        run: |
          docker run -d lewa
          sleep 5
          for i in $(seq 10); do
            if curl -sI http://127.0.0.1:8000 | grep 'HTTP/1.1 200 OK'; then
              exit 0;
            fi

            echo "Trying to connect to the lewa server..."
            sleep 1
          done

          curl http://127.0.0.1:8000

          exit 1
